<h1><%= @song.title %></h1>

<!-- <h3><%= pluralize(@artist.songs.count, 'Song' ) %></h3> -->
<ul>
  <% @song.artist.each do |artist| %>
  <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
</ul>